
// Colors

$byuNavy: #002e5d
$byuRoyal: #0057b8


// Fonts

$fontSize16: 1em / 1.125
$fontSize18: 1.125em / 1.125
$fontSize20: 1.25em / 1.125
$fontSize24: 1.5em / 1.125
$fontSize36: 2.25em / 1.125
$fontSize48: 3em / 1.125
$fontSize64: 4em / 1.125


// Spacing

$spacing1: 0.25rem
$spacing2: 0.5rem
$spacing3: 0.75rem
$spacing4: 1.25rem
$spacing5: 2rem
$spacing6: 3.25rem
$spacing7: 5.25rem
$spacing8: 8.5rem


// Breakpoints

$break480: 30rem
$break960: 60rem
$break1440: 90rem