/*
 * Corner Radius
 */
$cornerRadius: 2px


/*
 * Colors
 */

// Core

$byuNavy: #002e5d
$byuRoyal: #0057b8
$white: #fff

// Accents

$royal: $byuRoyal
$royal100: $byuRoyal
$royal50: #5199e1
$royal20: #afd6fe

$yellow: #fcc015
$yellow100: $yellow
$yellow50: #ffda73
$yellow20: #fff0c5

$purple: #500e7c
$purple100: $purple
$purple50: #af88ca
$purple20: #d6bde7

$green: #38870c
$green100: $green
$green50: #94c576
$green20: #cee0c3

$orange: #d8580c
$orange100: $orange
$orange50: #f7a883
$orange20: #ffdacf

$red: #a60318
$red100: $red
$red50: #f5acb6
$red20: #fde3e6

// Grey

$grey90: #141414
$grey70: #666
$grey50: #8f8f8f
$grey30: #c5c5c5
$grey10: #e6e6e6

// Text colors

$textcolor: $grey90
$textblue: $byuNavy
$textgrey: $grey50
$textwhite: $white

// UI colors

$colorInfo: $royal
$colorInfoLight: $royal20
$colorWarning: $yellow
$colorWarningLight: $yellow20
$colorConfirm: $green
$colorConfirmLight: $green20
$colorDanger: $red
$colorDangerLight: $red20

// Other colors
$colorLine: $grey10
$colorLineDark: $grey30


/*
 * Fonts
 */

// Sizing

$fontSize16: 1em / 1.125
$fontSize18: 1.125em / 1.125
$fontSize20: 1.25em / 1.125
$fontSize24: 1.5em / 1.125
$fontSize36: 2.25em / 1.125
$fontSize48: 3em / 1.125
$fontSize64: 4em / 1.125



/*
 * Spacing
 */

$spacing1: 0.25rem
$spacing2: 0.5rem
$spacing3: 0.75rem
$spacing4: 1.25rem
$spacing5: 2rem
$spacing6: 3.25rem
$spacing7: 5.25rem
$spacing8: 8.5rem



/*
 * Breakpoints
 */

$break480: 30rem
$break720: 45rem
$break960: 60rem
$break1440: 90rem