@import "https://cdn.byu.edu/theme-fonts/1.x.x/ringside/fonts.css"


html
	font-size: 1em

body
	font-family: "HCo Ringside Narrow SSm", Arial Narrow, Arial, sans-serif;
	font-size: 1rem
	font-weight: 300
	color: #222
	line-height: 1.6

	@media( min-width: $break480 )
		font-size: 1.125rem

p, ul, ol, dl
	margin: $spacing3 0
