<div class="grid-container byu-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="byu-form">
    <fieldset class="byu-fieldset">
        <legend class="byu-legend">Reset password</legend>
        <span>Please enter your new password</span>

        <div class="byu-alert byu-alert--info byu-alert--validation">
            <div class="byu-alert__body">
                <h3 class="byu-alert__heading">Password information</h3>
                <p class="byu-alert__text">
                    Length requirements
                    <br> Character constraints, if any
                </p>
            </div>
        </div>

        <label class="byu-label" for="password-reset">New password</label>
        <input class="byu-input" id="password-reset" name="password" type="password">

        <label class="byu-label" for="confirmPassword">Confirm password</label>
        <input class="byu-input" id="confirmPassword" name="confirmPassword" type="password">
        <p class="byu-form__note">
            <a href="javascript:void(0);" class="byu-show-multipassword" aria-controls="password-reset confirmPassword">Show my typing</a>
        </p>

        <input class="byu-button" type="submit" value="Reset password">
    </fieldset>
</form>
</div>