<div class="byu-alert byu-alert--error" role="alert">
    <div class="byu-alert__body">
        <h3 class="byu-alert__heading">Error status</h3>
        <p class="byu-alert__text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
</div>