<div class="byu-alert byu-alert--info byu-alert--no-icon">
    <div class="byu-alert__body">
        <p class="byu-alert__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    </div>
</div>