<div class="padding-1">
    <button class="byu-button byu-button--secondary">Default</button>
    <button class="byu-button byu-button--secondary byu-button--hover">Hover</button>
    <button class="byu-button byu-button--secondary byu-button--active">Active</button>
    <button class="byu-button byu-button--secondary byu-focus">Focus</button>
    <button class="byu-button byu-button--secondary" disabled>Disabled</button>
    <button class="byu-button byu-button--secondary byu-button--unstyled">Unstyled button</button>
</div>