 <div class="bg-base-darkest padding-1" style="max-width: fit-content">
        <button class="byu-button byu-button--outline byu-button--inverse">Default</button>
        <button class="byu-button byu-button--outline byu-button--inverse byu-button--hover">Hover</button>
        <button class="byu-button byu-button--outline byu-button--inverse byu-button--active">Active</button>
        <button class="byu-button byu-button--outline byu-button--inverse byu-focus">Focus</button>
        <button class="byu-button byu-button--outline byu-button--inverse" disabled>Disabled</button>
        <button class="byu-button byu-button--outline byu-button--inverse byu-button--unstyled">Unstyled button</button>
    </div>