<div class="padding-1">
    <button class="byu-button">Default</button>
    <button class="byu-button  byu-button--hover">Hover</button>
    <button class="byu-button  byu-button--active">Active</button>
    <button class="byu-button  byu-focus">Focus</button>
    <button class="byu-button " disabled="">Disabled</button>
    <button class="byu-button  byu-button--unstyled">Unstyled button</button>
</div>