$columnWidth: 42rem
$emphasisWidth: 52.5rem
$featureWidth: 60rem

$emphasisPercent: ( $emphasisWidth / $columnWidth ) * 100%
$emphasisMargin: ( ($emphasisPercent - 100) / 2 ) * -1
$featurePercent: ( $featureWidth / $columnWidth ) * 100%
$featureMargin: ( ($featurePercent - 100) / 2 ) * -1

=emphasis()
	max-width: $emphasisPercent
	margin-left: $emphasisMargin
	margin-right: $emphasisMargin

=feature()
	max-width: $featurePercent
	margin-left: $featureMargin
	margin-right: $featureMargin



article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section
	display: block


section, .column
	margin: 0 5%
	transition: margin 200ms ease

	@media( min-width: $break480 )
		margin: 0 10%

	@media( min-width: $break720 )
		margin: 0 15%

	@media( min-width: $break960 )
		margin: 0 auto
		width: 42rem


section .emphasis
	max-width: 111.11%
	margin: 1.5rem -5.555%
	@media( min-width: $break480 )
		+emphasis()

section .feature
	max-width: 111.11%
	margin: 1.5rem -5.555%
	@media( min-width: $break480 )
		+feature()


section.full
	margin: 0
	width: 100%
