<header role="banner" class="byu-header">
	<h1 class="site-title">
		<a class="byu-link" href="https://byu.edu">BYU</a>
		<a href="{{ url }}">{{ title }}</a>
	</h1>
	{{#if subtitle }}<h2 class="site-subtitle">{{ subtitle }}</h2>{{/if}}
</header>