<!DOCTYPE html>
<html lang="en">

<body>
    <div class="page-content">
        <h1><code>byu-footer</code></h1>
        <h2>University Footer</h2>
        <p>
            All sites should at least have this footer.
        </p>
        <demo-snippet>
            <template>
                <byu-footer></byu-footer>
            </template>

            <byu-footer class="byu-component-rendered" max-width="1200px"></byu-footer>
        </demo-snippet>

        <h2>Sticky Footer</h2>
        <p>We strongly recommend adding some code to make the footer "stick" to the bottom of the window
            even when there is little or no page content. Unfortunately due to some of the limitations
            of web components this can't be built into the footer component. However, you can do this with
            flexbox as follows:
        </p>
        <ul>
            <li>The byu-header, page-content div, and byu-footer should all be children of the same containing element
            </li>
            <li>The containing element should be have the styles <code>height: 100%</code>, <code>display: flex</code>,
                and <code>flex-direction: column</code></li>
            <li>The page-content div should have a style of <code>flex-grow: 1</code></li>
            <li>The height of any ancestors of the containing element should also be set to 100%.</li>
        </ul>
        <p></p>

        Here's a simple example:

        <pre
            class=" language-html"><code class=" language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>style</span><span class="token punctuation">&gt;</span></span><span class="token style language-css">
    <span class="token selector">html, body</span> <span class="token punctuation">{</span>
        <span class="token property">height</span><span class="token punctuation">:</span> 100%<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

    <span class="token selector">.containing-element</span> <span class="token punctuation">{</span>
        <span class="token property">display</span><span class="token punctuation">:</span> flex<span class="token punctuation">;</span>
        <span class="token property">flex-direction</span><span class="token punctuation">:</span> column<span class="token punctuation">;</span>
        <span class="token property">height</span><span class="token punctuation">:</span> 100%<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

    <span class="token selector">.page-content</span> <span class="token punctuation">{</span>
        <span class="token property">flex-grow</span><span class="token punctuation">:</span> 1<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>style</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>html</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>body</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>containing-element<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>

            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>byu-header</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>site-title<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Your Site Title Here<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>byu-header</span><span class="token punctuation">&gt;</span></span>

            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>page-content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                <span class="token comment" spellcheck="true">&lt;!-- Put your site content here --&gt;</span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>byu-footer</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>byu-footer</span><span class="token punctuation">&gt;</span></span>

        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>body</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>html</span><span class="token punctuation">&gt;</span></span></code></pre>

        <h2>Site Footer</h2>
        <p>
            Some sites may need to embed their own links and content in the footer. You can accomplish this by placing
            <code>byu-footer-column</code> elements in the footer, which will add a footer area above the university
            footer.
        </p>

        <demo-snippet>
            <template>
                <div class="site-footer">

                    <div>
                        <span class="title">Contact</span>
                        <br><br>
                        <p>
                            BYU Speeches
                            <br> 701 East University Parkway
                            <br> Provo, Utah 84602
                            <br> 888-888-8888
                        </p>
                        <span class="footerActionButton">
                            <!--<a href="https://www.google.com">GIVE to Speeches</a>-->
                            <a href="https://www.google.com"> <span style="color: white">GIVE to Speeches</span></a>
                        </span>
                    </div>
                    <div>
                        <span class="title">Affiliated Speeches</span>
                        <br><br>
                        <a href="https://www.byui.edu">BYU-Idaho Speeches</a><br>
                        <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a><br>
                        <a href="https://womensconference.byu.edu">Women's Conference</a><br>
                        <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a><br>
                        <a href="https://wheatley.byu.edu/">Wheatley Institution</a><br>
                    </div>
                    <div>
                        <span class="title">Related Links</span><br><br>

                        <a>LDS.org</a><br>
                        <a>BYU Alumni</a><br>
                        <a>BYU Today</a><br>
                        <a>BYU Magazine</a>
                    </div>
                    <div>
                        <span class="title">Connect With Us</span><br><br>

                        <a>Feedback</a><br>
                        <a>Help</a><br>
                        <a>Follow BYU Speeches</a><br>
                        <byu-social-media-links>
                            <!--Note: These all have text that will be hidden. The text should be there to help screen readers.-->
                            <a class="facebook" href="https://www.facebook.com">Facebook</a>
                            <a class="instagram" href="https://www.instagram.com">Instagram</a>
                            <a class="twitter" href="https://www.twitter.com">Twitter</a>
                            <a class="gplus" href="https://plus.google.com">Google Plus</a>
                            <a class="linkedin" href="https://www.linkedin.com">Linkedin</a>
                            <a class="youtube" href="https://www.youtube.com">YouTube</a>
                        </byu-social-media-links>
                        <a>Subscribe</a>
                    </div>

                </div>
            </template>

            <byu-footer class="byu-component-rendered" max-width="1200px">
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button class="byu-component-rendered">
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Affiliated Speeches</span>
                    <a href="https://www.byui.edu">BYU-Idaho Speeches</a>
                    <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a>
                    <a href="https://womensconference.byu.edu">Women's Conference</a>
                    <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a>
                    <a href="https://wheatley.byu.edu/">Wheatley Institution</a>
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Related Links</span>
                    <a>LDS.org</a>
                    <a>BYU Alumni</a>
                    <a>BYU Today</a>
                    <a>BYU Magazine</a>
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Connect With Us</span>
                    <a>Feedback</a>
                    <a>Help</a>
                    <a>Follow BYU Speeches</a>
                    <byu-social-media-links class="byu-component-rendered">
                        <!--Note: These all have text that will be hidden. The text should be there to help screen readers.-->
                        <a class="facebook" href="https://www.facebook.com" title=" Facebook ">Facebook</a>
                        <a class="instagram" href="https://www.instagram.com" title=" Instagram ">Instagram</a>
                        <a class="twitter" href="https://www.twitter.com" title=" Twitter ">Twitter</a>
                        <a class="gplus" href="https://plus.google.com" title=" Google+ ">Google Plus</a>
                        <a class="linkedin" href="https://www.linkedin.com" title=" LinkedIn ">Linkedin</a>
                        <a class="youtube" href="https://www.youtube.com" title=" YouTube ">YouTube</a>
                    </byu-social-media-links>
                    <a>Subscribe</a>
                </byu-footer-column>
            </byu-footer>
        </demo-snippet>

        <h3>Double and triple-wide columns</h3>
        <p>
            You can have columns which span twice or three times the normal column width, using the
            <code>double-wide</code> and <code>triple-wide</code> classes.
        </p>

        <demo-snippet>
            <template>
                <byu-footer>
                    <byu-footer-column>
                        <span slot="header">Contact</span>
                        <p>
                            BYU Speeches
                            <br> 701 East University Parkway
                            <br> Provo, Utah 84602
                            <br> 888-888-8888
                        </p>
                        <byu-footer-action-button>
                            <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                        </byu-footer-action-button>
                    </byu-footer-column>
                    <byu-footer-column class="double-wide">
                        <span slot="header">Double-wide Column</span>
                        <img src="/docs-images/dont-panic.svg" style="border: 1px solid #0057B8">
                    </byu-footer-column>
                    <byu-footer-column>
                        <span slot="header">Connect With Us</span>
                        <a>Feedback</a>
                        <a>Help</a>
                        <a>Follow BYU Speeches</a>
                        <byu-social-media-links>
                            <!--Note: These all have text that will be hidden. The text should be there to help screen readers.-->
                            <a class="facebook" href="https://www.facebook.com">Facebook</a>
                            <a class="instagram" href="https://www.instagram.com">Instagram</a>
                            <a class="twitter" href="https://www.twitter.com">Twitter</a>
                            <a class="gplus" href="https://plus.google.com">Google Plus</a>
                            <a class="linkedin" href="https://www.linkedin.com">Linkedin</a>
                            <a class="youtube" href="https://www.youtube.com">YouTube</a>
                        </byu-social-media-links>
                        <a>Subscribe</a>
                    </byu-footer-column>
                </byu-footer>
            </template>

            <byu-footer class="byu-component-rendered" max-width="1200px">
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button class="byu-component-rendered">
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
                <byu-footer-column class="double-wide byu-component-rendered">
                    <span slot="header">Double-wide Column</span>
                    <img src="/docs-images/dont-panic.svg" style="border: 1px solid #0057B8">
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Connect With Us</span>
                    <a>Feedback</a>
                    <a>Help</a>
                    <a>Follow BYU Speeches</a>
                    <byu-social-media-links class="byu-component-rendered">
                        <!--Note: These all have text that will be hidden. The text should be there to help screen readers.-->
                        <a class="facebook" href="https://www.facebook.com" title=" Facebook ">Facebook</a>
                        <a class="instagram" href="https://www.instagram.com" title=" Instagram ">Instagram</a>
                        <a class="twitter" href="https://www.twitter.com" title=" Twitter ">Twitter</a>
                        <a class="gplus" href="https://plus.google.com" title=" Google+ ">Google Plus</a>
                        <a class="linkedin" href="https://www.linkedin.com" title=" LinkedIn ">Linkedin</a>
                        <a class="youtube" href="https://www.youtube.com" title=" YouTube ">YouTube</a>
                    </byu-social-media-links>
                    <a>Subscribe</a>
                </byu-footer-column>
            </byu-footer>
        </demo-snippet>

        <p>
            Remember that the footer shifts in tablet and mobile views to stack in a 2x2 and 1x4 block.
            If you use a double-wide column in the middle (columns 2 &amp; 3), it will stack strangely in tablet-width.
            To adjust for this, you can add the following snippet to your CSS to place your double-wide column in
            the second row underneath your 1st and 4th columns.
        </p>

        <pre class=" language-css"><code class=" language-css"><span class="token atrule"><span class="token rule">@media</span> <span class="token punctuation">(</span><span class="token property">min-width</span><span class="token punctuation">:</span> 600px<span class="token punctuation">)</span></span> <span class="token punctuation">{</span>
    <span class="token selector">byu-footer-column.double-wide</span> <span class="token punctuation">{</span>
        <span class="token property">order</span><span class="token punctuation">:</span> 1<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

    <span class="token selector">.site-footer ::slotted(*)</span> <span class="token punctuation">{</span>
        <span class="token property">width</span><span class="token punctuation">:</span> unset<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span></code></pre>

        <demo-snippet>
            <template>
                <byu-footer>
                    <byu-footer-column class="triple-wide">
                        <span slot="header">Triple-wide Column</span>
                        <img src="/docs-images/dont-panic.svg" style="border: 1px solid #0057B8">
                    </byu-footer-column>
                    <byu-footer-column>
                        <span slot="header">Contact</span>
                        <p>
                            BYU Speeches
                            <br> 701 East University Parkway
                            <br> Provo, Utah 84602
                            <br> 888-888-8888
                        </p>
                        <byu-footer-action-button>
                            <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                        </byu-footer-action-button>
                    </byu-footer-column>
                </byu-footer>
            </template>

            <byu-footer class="byu-component-rendered" max-width="1200px">
                <byu-footer-column class="triple-wide byu-component-rendered">
                    <span slot="header">Triple-wide Column</span>
                    <img src="/docs-images/dont-panic.svg" style="border: 1px solid #0057B8">
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button class="byu-component-rendered">
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
            </byu-footer>
        </demo-snippet>


        <h3>Social Media Links</h3>
        <p>
            The <code>byu-social-media-links</code> component displays nice, consistent icons for a list of social media
            links. Simply provide the links you want, with a class specifying the social network to which it belongs.
            <code>byu-social-media-links</code> will then add the appropriate icon and add a tooltip identifying the
            social
            network (unless you already have a tooltip), which aids in accessibility.
        </p>
        <p>
            This demo includes the full list of currently-supported social media icons:
        </p>
        <demo-snippet>
            <template>
                <byu-social-media-links>
                    <!--These links should be actual links to your social media sites-->
                    <a class="facebook" href="#">Facebook</a>
                    <a class="instagram" href="#">Instagram</a>
                    <a class="twitter" href="#">Twitter</a>
                    <a class="gplus" href="#">Google Plus</a>
                    <a class="linkedin" href="#">Linkedin</a>
                    <a class="youtube" href="#">YouTube</a>
                    <a class="rss" href="#">RSS</a>
                    <a class="snapchat" href="#">Snapchat</a>
                    <a class="podcast" href="#">Podcast</a>
                </byu-social-media-links>
            </template>

            <byu-social-media-links class="byu-component-rendered">
                <!--These links should be actual links to your social media sites-->
                <a class="facebook" href="#" title=" Facebook ">Facebook</a>
                <a class="instagram" href="#" title=" Instagram ">Instagram</a>
                <a class="twitter" href="#" title=" Twitter ">Twitter</a>
                <a class="gplus" href="#" title=" Google+ ">Google Plus</a>
                <a class="linkedin" href="#" title=" LinkedIn ">Linkedin</a>
                <a class="youtube" href="#" title=" YouTube ">YouTube</a>
                <a class="rss" href="#" title=" RSS ">RSS</a>
                <a class="snapchat" href="#" title=" Snapchat ">Snapchat</a>
                <a class="podcast" href="#" title=" Podcast ">Podcast</a>
            </byu-social-media-links>
        </demo-snippet>

        <p>
            You can also add custom links. Just add a link that gets the desired icon set as the
            <code>background-image</code>, and <code>byu-social-media-links</code> will do the rest (SVG images work the
            best).
        </p>

        <demo-snippet>
            <template>
                <style>
                    byu-social-media-links .empire-net {
                        background-image: url('img/galactic-empire.svg');
                    }

                    byu-social-media-links .rebel-comms {
                        background-image: url('img/rebel-alliance.svg');
                    }
                </style>
                <byu-social-media-links>
                    <!--These links should be actual links to your social media sites-->
                    <a class="facebook" href="#">Facebook</a>
                    <a class="twitter" href="#">Twitter</a>
                    <a class="youtube" href="#">YouTube</a>
                    <!--Here's a custom link!-->
                    <a class="empire-net" href="#">EmpireNet</a>
                    <a class="rebel-comms" href="#">Rebel Comms</a>
                </byu-social-media-links>
            </template>

            <style>
                byu-social-media-links .empire-net {
                    background-image: url('img/galactic-empire.svg');
                }

                byu-social-media-links .rebel-comms {
                    background-image: url('img/rebel-alliance.svg');
                }
            </style>
            <byu-social-media-links class="byu-component-rendered">
                <!--These links should be actual links to your social media sites-->
                <a class="facebook" href="#" title=" Facebook ">Facebook</a>
                <a class="twitter" href="#" title=" Twitter ">Twitter</a>
                <a class="youtube" href="#" title=" YouTube ">YouTube</a>
                <!--Here's a custom link!-->
                <a class="empire-net" href="#">EmpireNet</a>
                <a class="rebel-comms" href="#">Rebel Comms</a>
            </byu-social-media-links>
        </demo-snippet>

        <h2>Custom Content</h2>
        <p>
            You don't have to use <code>byu-footer-column</code> inside of <code>byu-footer</code>.
            We highly recommend that you stick to using <code>byu-footer-column</code>, though, as it implements
            the official theme with no work on your part.
        </p>
        <p>
            If you absolutely need to customize the content of your footer, you can add arbitrary content to
            <code>byu-footer</code>. Each child element will be treated and styled as a footer column.
        </p>

        <demo-snippet>
            <template>
                <byu-footer>
                    <byu-footer-column>
                        <span slot="header">Contact</span>
                        <p>
                            BYU Speeches
                            <br> 701 East University Parkway
                            <br> Provo, Utah 84602
                            <br> 888-888-8888
                        </p>
                        <byu-footer-action-button>
                            <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                        </byu-footer-action-button>
                    </byu-footer-column>
                    <div class="my-custom-footer">
                        <img src="/docs-images/dont-go-alone.png">
                    </div>
                </byu-footer>
            </template>

            <byu-footer class="byu-component-rendered" max-width="1200px">
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button class="byu-component-rendered">
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
                <div class="my-custom-footer">
                    <img src="/docs-images/dont-go-alone.png">
                </div>
            </byu-footer>
        </demo-snippet>

        <h2>Maximum Width</h2>
        <p>
            By default, if you have set a <code>max-width</code> or <code>full-width</code> attribute on
            <code>byu-header</code>, <code>byu-footer</code> will discover and use that setting.
            If you wish to override the header's setting, you can specify the attributes on byu-footer.
            If a <code>max-width</code> is not set on the header nor on the footer, the default value (1200px) will
            be used.
        </p>

        <demo-snippet>
            <template>
                <byu-footer max-width="500px">
                    <byu-footer-column>
                        <span slot="header">Contact</span>
                        <p>
                            BYU Speeches
                            <br> 701 East University Parkway
                            <br> Provo, Utah 84602
                            <br> 888-888-8888
                        </p>
                        <byu-footer-action-button>
                            <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                        </byu-footer-action-button>
                    </byu-footer-column>
                    <byu-footer-column>
                        <span slot="header">Other Speeches</span>
                        <a href="https://www.byui.edu">BYU-Idaho Speeches</a>
                        <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a>
                        <a href="https://womensconference.byu.edu">Women's Conference</a>
                        <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a>
                        <a href="https://wheatley.byu.edu/">Wheatley Institution</a>
                    </byu-footer-column>
                    <byu-footer-column>
                        <span slot="header">Related Links</span>
                        <a>LDS.org</a>
                        <a>BYU Alumni</a>
                        <a>BYU Today</a>
                        <a>BYU Magazine</a>
                    </byu-footer-column>
                </byu-footer>
            </template>

            <byu-footer max-width="1200px" class="byu-component-rendered">
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button class="byu-component-rendered">
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Other Speeches</span>
                    <a href="https://www.byui.edu">BYU-Idaho Speeches</a>
                    <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a>
                    <a href="https://womensconference.byu.edu">Women's Conference</a>
                    <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a>
                    <a href="https://wheatley.byu.edu/">Wheatley Institution</a>
                </byu-footer-column>
                <byu-footer-column class="byu-component-rendered">
                    <span slot="header">Related Links</span>
                    <a>LDS.org</a>
                    <a>BYU Alumni</a>
                    <a>BYU Today</a>
                    <a>BYU Magazine</a>
                </byu-footer-column>
            </byu-footer>
        </demo-snippet>

        <h2>Full Footer with links and full-width attribute</h2>
        <p>By default, the footer uses the same <code>max-width</code> setting as the header, which defaults to 1200px.
            To make the footer span the width of the page, you can set the <code>max-width</code> attribute.
        </p>
    </div>
    <demo-snippet>
        <template>
            <byu-footer full-width="">
                <byu-footer-column>
                    <span slot="header">Contact</span>
                    <p>
                        BYU Speeches
                        <br> 701 East University Parkway
                        <br> Provo, Utah 84602
                        <br> 888-888-8888
                    </p>
                    <byu-footer-action-button>
                        <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                    </byu-footer-action-button>
                </byu-footer-column>
                <byu-footer-column>
                    <span slot="header">Affiliated Speeches</span>
                    <a href="https://www.byui.edu">BYU-Idaho Speeches</a>
                    <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a>
                    <a href="https://womensconference.byu.edu">Women's Conference</a>
                    <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a>
                    <a href="https://wheatley.byu.edu/">Wheatley Institution</a>
                </byu-footer-column>
                <byu-footer-column>
                    <span slot="header">Related Links</span>
                    <a>LDS.org</a>
                    <a>BYU Alumni</a>
                    <a>BYU Today</a>
                    <a>BYU Magazine</a>
                </byu-footer-column>
                <byu-footer-column>
                    <span slot="header">Connect With Us</span>
                    <a>Feedback</a>
                    <a>Help</a>
                    <div>
                        <div>Follow BYU Speeches</div>
                        <byu-social-media-links>
                            <a class="facebook" href="https://www.facebook.com"></a>
                            <a class="instagram" href="https://www.instagram.com"></a>
                            <a class="twitter" href="https://www.twitter.com"></a>
                            <a class="gplus" href="https://plus.google.com"></a>
                            <a class="linkedin" href="https://www.linkedin.com"></a>
                            <a class="youtube" href="https://www.youtube.com"></a>
                        </byu-social-media-links>
                    </div>
                    <a>Subscribe</a>
                </byu-footer-column>
            </byu-footer>
        </template>

        <byu-footer class="byu-component-rendered" max-width="1200px">
            <byu-footer-column class="byu-component-rendered">
                <span slot="header">Contact</span>
                <p>
                    BYU Speeches
                    <br> 701 East University Parkway
                    <br> Provo, Utah 84602
                    <br> 888-888-8888
                </p>
                <byu-footer-action-button class="byu-component-rendered">
                    <a href="https://www.google.com" slot="actiontext">GIVE to Speeches</a>
                </byu-footer-action-button>
            </byu-footer-column>
            <byu-footer-column class="byu-component-rendered">
                <span slot="header">Affiliated Speeches</span>
                <a href="https://www.byui.edu">BYU-Idaho Speeches</a>
                <a href="https://www.byuh.edu">BYU-Hawaii Speeches</a>
                <a href="https://womensconference.byu.edu">Women's Conference</a>
                <a href="https://kennedy.byu.edu/lectures">Kennedy Center Lectures</a>
                <a href="https://wheatley.byu.edu/">Wheatley Institution</a>
            </byu-footer-column>
            <byu-footer-column class="byu-component-rendered">
                <span slot="header">Related Links</span>
                <a>LDS.org</a>
                <a>BYU Alumni</a>
                <a>BYU Today</a>
                <a>BYU Magazine</a>
            </byu-footer-column>
            <byu-footer-column class="byu-component-rendered">
                <span slot="header">Connect With Us</span>
                <a>Feedback</a>
                <a>Help</a>
                <div>
                    <div>Follow BYU Speeches</div>
                    <byu-social-media-links class="byu-component-rendered">
                        <a class="facebook" href="https://www.facebook.com" title=" Facebook "></a>
                        <a class="instagram" href="https://www.instagram.com" title=" Instagram "></a>
                        <a class="twitter" href="https://www.twitter.com" title=" Twitter "></a>
                        <a class="gplus" href="https://plus.google.com" title=" Google+ "></a>
                        <a class="linkedin" href="https://www.linkedin.com" title=" LinkedIn "></a>
                        <a class="youtube" href="https://www.youtube.com" title=" YouTube "></a>
                    </byu-social-media-links>
                </div>
                <a>Subscribe</a>
            </byu-footer-column>
        </byu-footer>
    </demo-snippet>
    <footer>
        <byu-footer class="byu-component-rendered" max-width="1200px"></byu-footer>
    </footer>
</body>

</html>