.byu-header
	background: $byuNavy
	padding: 0.875rem 1.25rem 1.1rem


.byu-link
	display: block
	position: absolute
	top: 0
	left: -4.5rem
	width: 4.5rem
	height: 100%
	background: 0 0.35rem url('/img/byu-monogram-white.png') no-repeat
	background-size: 100% auto
	overflow: hidden
	text-indent: -9em


.site-title, .site-subtitle
	color: #fff
	font-weight: 400
	margin: 0 0 0 4.5rem


.site-title
	font-size: 1.125rem


	a, a:link, a:hover, a:visited, a:focus
		color: #fff
		text-decoration: none

	@media( min-width: $break480 )
		font-size: 1.25rem

	@media( min-width: $break960 )
		font-size: 1.5rem


.site-subtitle
	font-size: 1rem