

h1, h2, h3, h4, h5, h6
	color: green


h1
	font-weight: 700
	font-size: 3rem
	margin: $spacing4 0


	&.pagetitle
		font-weight: 500
		font-size: 4rem
		letter-spacing: -0.025em
		line-height: 1.15625


h2
	font-size: 2.25rem
	font-weight: 300
	margin: $spacing4 0 $spacing3


h3
	font-size: 1.5rem
	font-weight: 700
	margin: $spacing3 0

h4
	font-size: 1.25rem
	margin: $spacing3 0
	text-transform: uppercase

h5, h6
	font-size: 1.125rem
	margin: $spacing3 0

h5
	font-weight: 500

h6
	font-weight: 300
	font-style: italic