<div class="grid-container byu-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="byu-form">
        <label class="byu-label" for="input-type-text">Text input label</label>
        <input class="byu-input" id="input-type-text" name="input-type-text" type="text">

        <label class="byu-label" for="input-focus">Text input focused</label>
        <input class="byu-input byu-focus" id="input-focus" name="input-focus" type="text">

        <div class="byu-form-group byu-form-group--error">
            <label class="byu-label byu-label--error" for="input-error">Text input error</label>
            <span class="byu-error-message" id="input-error-message" role="alert">Helpful error message</span>
            <input class="byu-input byu-input--error" id="input-error" name="input-error" type="text"
                aria-describedby="input-error-message">
        </div>

        <label class="byu-label" for="input-success">Text input success</label>
        <input class="byu-input byu-input--success" id="input-success" name="input-success" type="text">

        <label class="byu-label" for="input-type-textarea">Text area label</label>
        <textarea class="byu-textarea" id="input-type-textarea" name="input-type-textarea"></textarea>
    </form>

</div>