<div class="padding-2">
    <form class="byu-form">
  <fieldset class="byu-fieldset">
    <legend class="byu-sr-only">Historical figures 1</legend>
    <div class="byu-checkbox">
      <input class="byu-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked="">
      <label class="byu-checkbox__label" for="truth">Sojourner Truth</label>
    </div>
    <div class="byu-checkbox">
      <input class="byu-checkbox__input" id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
      <label class="byu-checkbox__label" for="douglass">Frederick Douglass</label>
    </div>
    <div class="byu-checkbox">
      <input class="byu-checkbox__input" id="washington" type="checkbox" name="historical-figures-1" value="washington">
      <label class="byu-checkbox__label" for="washington">Booker T. Washington</label>
    </div>
    <div class="byu-checkbox">
      <input class="byu-checkbox__input" id="carver" type="checkbox" name="historical-figures-1" disabled="">
      <label class="byu-checkbox__label" for="carver">George Washington Carver</label>
    </div>
  </fieldset>
</form>

  </div>