<div class="padding-2">

    <form class="byu-form">
        <fieldset class="byu-fieldset">
            <legend class="byu-legend">Date of birth</legend>
            <span class="byu-hint" id="dobHint">For example: 04 28 1986</span>
            <div class="byu-memorable-date">
                <div class="byu-form-group byu-form-group--month">
                    <label class="byu-label" for="date_of_birth_1">Month</label>
                    <input class="byu-input byu-input--inline" aria-describedby="dobHint" id="date_of_birth_1"
                        name="date_of_birth_1" type="number" min="1" max="12" value="">
                </div>
                <div class="byu-form-group byu-form-group--day">
                    <label class="byu-label" for="date_of_birth_2">Day</label>
                    <input class="byu-input byu-input--inline" aria-describedby="dobHint" id="date_of_birth_2"
                        name="date_of_birth_2" type="number" min="1" max="31" value="">
                </div>
                <div class="byu-form-group byu-form-group--year">
                    <label class="byu-label" for="date_of_birth_3">Year</label>
                    <input class="byu-input byu-input--inline" aria-describedby="dobHint" id="date_of_birth_3"
                        name="date_of_birth_3" type="number" min="1900" max="2019" value="">
                </div>
            </div>
        </fieldset>
    </form>
</div>