<div class="grid-container usa-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="usa-form">
        <label class="usa-label" for="range-slider">Range slider</label>
        <input id="range-slider" class="usa-range" type="range" min="0" max="100" step="10" value="20">
    </form>

</div>