<div class="grid-container byu-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="byu-form">
        <label class="byu-label" for="options">Dropdown label</label>
        <select class="byu-select" name="options" id="options">
            <option value="">- Select -</option>
            <option value="value1">Option A</option>
            <option value="value2">Option B</option>
            <option value="value3">Option C</option>
        </select>
    </form>
</div>