<div class="grid-container byu-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="byu-form radio">
        <fieldset class="byu-fieldset">
            <legend class="byu-sr-only">Historical figures 2</legend>
            <div class="byu-radio">
                <input class="byu-radio__input" id="stanton" type="radio" checked="" name="historical-figures-2"
                    value="stanton">
                <label class="byu-radio__label" for="stanton">Elizabeth Cady Stanton</label>
            </div>
            <div class="byu-radio">
                <input class="byu-radio__input" id="anthony" type="radio" name="historical-figures-2" value="anthony">
                <label class="byu-radio__label" for="anthony">Sbyun B. Anthony</label>
            </div>
            <div class="byu-radio">
                <input class="byu-radio__input" id="tubman" type="radio" name="historical-figures-2" value="tubman">
                <label class="byu-radio__label" for="tubman">Harriet Tubman</label>
            </div>
        </fieldset>
    </form>

</div>