<div class="grid-container byu-prose validation" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="byu-form">
        <fieldset class="byu-fieldset">
            <legend class="byu-legend">Enter a code</legend>
            <div class="byu-alert byu-alert--info byu-alert--validation">
                <div class="byu-alert__body">
                    <h3 class="byu-alert__heading">Code requirements</h3>
                    <ul class="byu-checklist" id="validate-code">
                        <li class="byu-checklist__item byu-checklist__item--checked" data-validator="uppercase">Use at
                            least one uppercase character</li>
                        <li class="byu-checklist__item" data-validator="numerical">Use at least one number</li>
                    </ul>
                </div>
            </div>
            <label class="byu-label" for="code">Code</label>
            <input class="byu-input" id="code" name="code" type="text" aria-describedby="validate-code"
                data-validate-uppercase="[A-Z]" data-validate-numerical="\d" data-validation-element="#validate-code">
            <input class="byu-button" type="submit" value="Submit code">
        </fieldset>
    </form>

</div>