@import "https://cdn.byu.edu/theme-fonts/1.x.x/ringside/fonts.css"


body, .Tree-title, .Tree-item, .Tree-collectionLabel
	font-family: "HCo Ringside Narrow SSm","Open Sans", Arial Narrow, Arial, sans-serif;
	font-weight: 300

.Header
	background: #002e5d
	color: #fff

.Header-title
	padding-left: 92px
	background: transparent url("../img/byu-monogram-white.png") 1.25rem 1.2rem no-repeat
	background-image: url('../img/byu-monogram-white.svg'), none
	background-size: 72px 18px

	&:link
		color: #fff
		font-weight: 500
		font-size: 1.5rem

.Frame-panel--sidebar
	padding-top: 2.85rem


.Tree-title
	letter-spacing: 0.05em


.Document-title
	color: #036